*{
    margin: 0;
    padding: 0;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFFFFF;

}

nav{
    width: 71%;
    max-width: 1140px;
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding: 16px 0;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 16px;
}

nav .menu a{
    text-decoration: none;
}

.menu li a{
    color:#000000;
    font-weight: 500;
    font-size: 16px;
}

.btn{
    width: 164px;
    padding: 12.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}


