*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFFFFF;

}

nav{
    width: 71%;
    max-width: 1140px;
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding: 16px 0;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 16px;
}

nav .menu a{
    text-decoration: none;
}

.menu li a{
    color:#000000;
    font-weight: 500;
    font-size: 16px;
}

.btn{
    /* width: 164px; */
    padding: 12.5px 16px;
    
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btn.green{
    background-color: #469165;
    color: #FFFFFF;
}


.btn.white{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;

}

.banner{
    background: linear-gradient(rgba(10, 30, 50, 0.233), rgba(10, 30, 50, 0.336)), url(../assets/hero-bg.png);
    /* min-height: 100vh; */
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.banner-content{
   max-width: 1140px;
   width: 100%;
   padding: 115.5px 120px 179.5px;

}

.early-badge{
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    margin-bottom: 16px;

}

.dot{
    width: 16px;
  height: 16px;
  background: #30B868;
  border-radius: 50%;
  margin-right: 6px;

}

.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.banner-content span{
    color: #30B868;
}

.banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.button{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
    align-items: center;
    
}





