*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFFFFF;

}

nav{
    width: 71%;
    max-width: 1140px;
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    padding: 16px 0;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 16px;
}

nav .menu a{
    text-decoration: none;
}

.menu li a{
    color:#000000;
    font-weight: 500;
    font-size: 16px;
}

.btn{
    /* width: 164px; */
    padding: 12.5px 16px;
    
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.btn.green{
    background-color: #469165;
    color: #FFFFFF;
}


.btn.white{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;

}

.banner{
    background: linear-gradient(rgba(10, 30, 50, 0.233), rgba(10, 30, 50, 0.336)), url(../assets/hero-bg.png);
    /* min-height: 100vh; */
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.banner-content{
   max-width: 1140px;
   width: 100%;
   padding: 115.5px 120px 179.5px;

}

.early-badge{
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    margin-bottom: 16px;

}

.dot{
    width: 16px;
  height: 16px;
  background: #30B868;
  border-radius: 50%;
  margin-right: 6px;

}

.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.banner-content span{
    color: #30B868;
}

.banner-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.button{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
    align-items: center;
    
}

.cards-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    text-align: center;
    background-color: #FFFFFF;
}

.cards-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
    margin-top: 50px;
}

.cards-container .section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.cards-container .cards-box{
    display: flex;
    gap: 24px;
    text-align: center;
    padding: 0 24px;
    
}

.card{
    padding: 69.5px 24px 21.5px;
    width: 322px;
    box-shadow: 0px 0px 8px 0px rgba(136, 135, 135, 0.582);
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.card .icon{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #F95555;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
    
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;

}

.card p{
    font-size: 16px;
    line-height: 20px;
    /* margin-bottom: 21.5px; */
    color: #627382;
}



#big-image{

}

.big-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 120px;
}
    
#green{
    color: #30B868;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}


.the-solution h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

.the-solution p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}




.check-list{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.check-list h3{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
}